.Person {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 1rem;
}

@media only screen and (min-width: 500px) {
    .Person {
        width: 500px
    }
}

.deletePerson_btn {
    margin: 2px 2px;
    color: none;
    background-color: white;
    border: none;
    font-size: 1rem;
}

.deletePerson_btn:hover {
    cursor: pointer;
}

.personBtnSet {
    display: flex;
    justify-content: flex-end;
}