.Person {
    width: 60%;
    margin: 1rem auto;
    border: 1px solid gray;
    border-radius: 0.5rem;
    padding-bottom: 1rem;
}

.full {
    color: royalblue;
}

.bold {
    font-weight: bold;
}

.available {
    color: rgb(117, 207, 57);
}

.deletePerson_btn {
    margin: 2px 2px;
    color: none;
    background-color: white;
    border: none;
    font-size: 1rem;
}

.deletePerson_btn:hover {
    cursor: pointer;
}

.personBtnSet {
    display: flex;
    justify-content: flex-end;
}