.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

/* you can always use :global prefix to define style that can be used anywhere */
:global button {
  background-color: gray;
  color: black;
  font: inherit;
  border: 1px solid blue;
  padding: 8px;
  margin: auto 5px;
}

button.Green {
  background-color: green;
  color: white;
}

button.Green:hover {
  background-color: darkgreen;
  color: white;
}

button.Red {
  background-color: red;
  color: white;
}

button.Red:hover {
  background-color: darkred;
  color: white;
}

.break {
  flex: 0 1 100%;
  height: 0;
}

.full {
  color: royalblue;
}

.bold {
  font-weight: bold;
}

.available {
  color: rgb(117, 207, 57);
}